head{
    display: none;
}
li {
    list-style-type: none;
}

body{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    overflow-x: hidden;
}

.boss_logo{
    width: auto;
    height: 90px;
    position: sticky;
    z-index: 2;
    margin-bottom: 15px;    
    background-color: black;
    margin-top: -16px;
}

.logo{
    position: absolute;
    top: 8px;
    left: 100px;  
}

.logo_one{
    width: 75px;
    height: 75px;   
    
}

.about, .career, .price, .bell ,.kont{
    float: left;
    left: 850px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    color:white;
    font-size: 22px;
}




.first_part, .second_part, .thirdes_part , .fifth_part ,.kont_part
{
    color: white;
    text-decoration: none;
}

.kont_part:hover{
    color: rgb(60, 122, 255);
}

.first_part:hover{
    color: rgb(60, 122, 255);
}


.second_part:hover{
    color: rgb(60, 122, 255);
}

.thirdes_part:hover{
    color: rgb(60, 122, 255); 
}
.fifth_part:hover{
    color: rgb(60, 122, 255); 
}



.middle_part{
    position: relative;
}

.photo{
    width: 1800px;
    height:800px;
    filter: blur(4px) brightness(50%);
    margin-left: 55px;
}


.arrange_it{
    position: absolute;
    top:16%;
    left: 22%;
    font-size: 100px;
    color: white;
}

.services{
    position: absolute;
    top:35%;
    left: 25%;
    font-size: 42px;
    color: white;
}

.snap{
    position: absolute;
    top:50%;
    left:42%;
    font-size: 42px;
    color: white;
}

.snap_one{
    background-color: rgb(60, 122, 255);
    color: white;
    width: 250px;
    height: 50px;
    font-size: 18px;
    border: none;
}

.snap_one:hover{
    background: rgb(2, 7, 103);
    transition: background 1s;
}

.win{
    fill:rgb(16, 7, 7);
 

}